.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #2bb686;
  border-color: #2bb686;
}

.text-primary {
  color: #101d42 !important;
}

.text-secondary {
  color: #fbb44c !important;
}

.text-light {
  color: #eaeaea !important;
}

.bg-primary {
  background-color: #141e4c !important;
}

.bg-secondary {
  background-color: #dfedf5 !important;
}

.bg-dark {
  background-color: #101d42 !important;
}

h1,
h2,
h3 {
  font-weight: bold;
}

body {
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

main {
  flex-grow: 1;
}

header {
  height: 30vh;
}
